.btn {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
    margin-top: 60px;
}

*
::after,
::before {
    box-sizing: border-box;
}